h1 {
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}
h2 {
 font-family: 'Montserrat-medium', sans-serif;
 font-weight: 500;
}
.below-heading {
 text-align: center;
 font-family: 'Playfair Display', serif;
}
/* ----------------------------------------------------------------------
----------------------------------------------------------------------
------------- */
/* navigation bar */
.navbar {
 padding-bottom: 4.5rem;
}
.navbar-brand {
 font-family: "ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
}
.nav-item {
 padding: 0px 150px;
}
.nav-link {
 font-size: 1.2rem;
}
.container-fluid {
 padding: 3% 15%;
}
#title {
 text-align: center;
}
.navbar-expand-lg{
 background-color: #DDDDDD;
}
/* ----------------------------------------------------------------------
----------------------------------------------------------------------
------------- */
/* carousel section */
#testimonials {
 padding: 7% 15%;
 text-align: center;
 background-color: #F2EFEA;
 color: #fff;
}
.testimonial-image {
 align-items: center;
 border-radius: 100%;
 margin: 20px;
}
.carousel-cllg {
 color: black;
 text-align: center;
 font-family: 'Sacramento', cursive;
}
.cllg_pic{
 padding-left: 300px;
}
/* ----------------------------------------------------------------------
----------------------------------------------------------------------
------------- */
/* techcrunch */
.techs {
 font-family: ubuntu;
 padding:400px;
}
.news1 {
 width: 20px;
}
.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 /* Add shadows to create the "card" effect */
 transition: 0.3s;
}
.card:hover {
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 /* On mouse-over, add a deeper shadow */
}
.container {
 padding: 2px 16px;
 /* Add some padding inside the card container */
}
.fas {
 padding: 15px;
}
.card-body {
 background-color: #DDDDDD;
}
hr.solid {
 border-width: 100px;
}
/*--------------------------------------------------------------------
----------------------------------------------------------------------
-----*/
.hub{
 font-size: 35px;
 color:black;
 font-family: 'Montserrat', sans-serif;
 font-size:40px;
 font-weight:Bold;
}
.SDM{
 color:#9B0000;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 60px;
margin-left: 650px;
}
.navbar-expand-lg{
 font-weight: bold;
}
.placementpic-pic{
 padding-left: 300px;
}
.start-up{
 padding-left: 300px;
}
.placetextbox{
 padding-left: 730px;
 bottom:220px;
}
.imagetext{
}
